
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow users to manage their own profile
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
      // Allow admins to read all user profiles
      allow list: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // Allow users to manage their own scripts
    match /users/{userId}/scripts/{scriptId} {
      allow read, write, delete: if request.auth.uid == userId;
    }

    // Allow admins to perform collection group queries on scripts for stats
    match /{path=**}/scripts/{scriptId} {
        allow list, get: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}
